<a class="card {{#if this.overlay}}card--overlay{{/if}} {{#if this.light}}card--light{{/if}}" href="{{this.link}}">
    <img src="{{this.image}}" alt="Карточка">
    <div class="card__overlay"></div>
    <div class="card__content">
        <ul class="card__tags">
            {{#each this.tags}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <h3 class="card__title">{{{this.title}}}</h3>
        <div class="card__description">
            <p>{{{this.desc}}}</p>
        </div>
    </div>
</a>