{{> images-modal idx=this.idx}}
<div class="swiper detail__slider {{#if size}}detail__slider--{{size}}{{/if}} js-init-slider" {{#if large}}data-slides="1"{{else}}data-slides="1.5"{{/if}} data-space="24" data-delay="3000">
  <ul class="swiper-wrapper detail__slider-wrapper">
      {{#each imageSlider}}
      <li class="swiper-slide detail__slide">
          <div class="detail__slide-image" data-hystmodal="#image-modal-{{../this.idx}}">
            <img class="lazyload" src="{{this.image}}" alt="{{name}}">
            <div class="detail__slide-image-overlay">
              <svg><use xlink:href="#arrows"></svg>
            </div>
          </div>
          {{#if this.label}}
          <span class="detail__slide-label">{{this.label}}</span>
          {{/if}}
      </li>
      {{/each}}
  </ul>
  <div class="slider__btns slider__btns--vertical detail__slider-btns js-slider-navigation">
      {{>utils/slider-buttons}}
  </div>
  <div class="swiper-pagination"></div>
</div>