{{#extend "layout"}}
{{#content "main"}}

<section class="intro">
    <h1 class="visually-hidden">ГЛОБАЛ МОЛЛ</h1>
    <div class="container">
        <div class="intro__info">
            <address class="intro__info-address">{{{contacts.address}}}</address>
            <div class="intro__info-working-time">
                <span>ежедневно 10:00 - 22:00</span>
                <span>супермаркет 24 часа</span>
            </div>
            <div class="intro__info-btns">
                <a class="button button--filled" href="./contacts.html#map">
                    <svg><use xlink:href="#car-1"></svg>
                    <span>Как добраться</span>
                </a>
                <a class="button button--filled" href="./contacts.html#scheme">
                    <svg><use xlink:href="#block"></svg>
                    <span>Схема этажей</span>
                </a>
            </div>
        </div>
    </div>

    <div class="container intro__slider-mobile">
        <div class="intro__inner">
            <div class="intro__slider-block">
                <div class="swiper intro__slider js-init-slider" data-fade="1" data-slides="1" data-space="0" data-delay="3000" data-loop="1">
                    <ul class="swiper-wrapper  intro__slider-wrapper">
                        {{#each introSlider}}
                        <li class="swiper-slide intro__slide">
                            <div class="intro__slide-link">
                                <picture>
                                    <source srcset="{{this.imageMobile}}" media="(max-width: 576px)">
                                    <img src="{{this.image}}" alt="{{this.title}}">
                                </picture>
                                <div class="intro__slide-content">
                                    <div class="intro__slide-text">
                                        <h3 class="intro__slide-title">{{this.title}}</h3>
                                        <div class="intro__slide-subtitle">
                                            {{{this.subtitle}}}
                                        </div>
                                    </div>
                                    <a class="button button--filled intro__slide-btn" href="{{this.link}}">Подробнее</a>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="slider__btns intro__slider-btns js-slider-navigation">
                        {{>utils/slider-buttons}}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="intro__favorite-promotion">
                {{>card favoritePromotion}}
            </div>
        </div>
    </div>
</section>

<section class="sections">
    <div class="container">
        <div class="sections__grid js-init-tabs">
            <div class="sections__content">
                <ul class="sections__names js-tabs">
                    {{#each sections}}
                    <li class="sections__name js-tab {{#if this.active}}active{{/if}}">
                        <button class="sections__btn" type="button">{{this.name}}</button>
                    </li>
                    {{/each}}
                </ul>
                <ul class="sections__bodies js-bodies">
                    {{#each sections}}
                    <li class="sections__body js-body {{#if this.active}}active{{/if}}">
                        <div class="sections__body-text">
                            {{{this.desc}}}
                        </div>
                        {{>hashtags data=this.hashtags}}
                        <a class="button button--narrow sections__body-link" href="{{this.link}}">
                            <span>Смотреть все</span>
                            <svg><use xlink:href="#arrow-right"></svg>
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="sections__icons-block">
                <div class="sections__disk">
                    <ul class="sections__icons js-bodies">
                        {{#each sections}}
                        <li class="sections__icon js-body {{#if this.active}}active{{/if}}">
                            <img src="{{this.icon}}" alt="{{this.name}}">
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{{>newslist newsList1}}

{{>newslist newsList2}}

{{/content}}
{{/extend}}